body {
	background-image: url('http://static.tumblr.com/hc6q6s4/qS6m2cjn7/stripe_17e52656a5e6249194369416c3357e76.png');
	color: #000;
	font-family: Helvetica;
	font-size: 16px;
}
label {
	font-weight: normal;
	margin-top: 2px;
	position: relative;
	top: -2px;
}
input {
	font-weight: normal;
	border: 2px solid #000;
	border-radius: 8px;
	padding: 2px 8px;
	outline-width: 0;
	color: black;
}

/*WRAPPERS*/
.content {
	margin: 10px auto;
	display: table;
}
.controls {
	margin-left: 0px;
	padding: 0px;
	margin-bottom: 26px;
}
.title {
	font-size: 26px;
	text-align: right;
}

/*BOXES*/
.box {
	border: 2px solid;
	border-radius: 8px;
	transition: border-radius .5s, background .1s, border-color .1s;
	-webkit-transition: border-radius .5s, background .1s, border-color .1s;
	box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
	position: relative;
}
.circle {
	border: 2px solid;
	border-radius: 50%;
	transition: border-radius .5s, background .1s, border-color .1s;
	-webkit-transition: border-radius .5s, background .1s, border-color .1s;
	box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
	position: relative;
}
.move {
	width: 66.666666667%;
	height: 66.666666667%;
	cursor: pointer;
}
.slowmove {
	transition: border-radius .5s, background .1s, border-color .1s, top 1s, left 1s;
	-webkit-transition: border-radius .5s, background .1s, border-color .1s, top 1s, left 1s;
}
.top {
	width: 600px;
	height: 600px;
	box-shadow: none !important;
}
.two {
	left: 96px;
	top: 79px;
}
.three {
	left: 65px;
	top: 44px;
}
.four {
	left: 43px;
	top: 22px;
}
.five {
	left: 28px;
	top: 6px;
}
.six {
	left: 19px;
	top: -5px;
}
.violet {
	background: #800080;
	border-color: #800080;
}
.blue {
	background: #0000FF;
	border-color: #0000FF;
}
.green {
	background: #008000;
	border-color: #008000;
}
.yellow {
	background: #CCCC00;
	border-color: #CCCC00;
}
.orange {
	background: #FFA500;
	border-color: #FFA500;
}
.red {
	background: #FF0000;
	border-color: #FF0000;
}

/*COLOR MENU*/
.context-menu {
	padding: 2px;
	background: #fff;
	border: 2px solid #000;
	border-radius: 8px;
	font-family: Helvetica;
	font-size: 14px;
}
.color-menu-item {
	background: #fff;
	border-radius: 8px;
}
.color-menu-item-red {
	background: red;
}
.color-menu-item-orange {
	background: orange;
}
.color-menu-item-yellow {
	background: yellow;
}
.color-menu-item-green {
	background: green;
}
.color-menu-item-blue {
	background: blue;
}
.color-menu-item-violet {
	background: purple;
}
.color-menu-item-hover {
	font-family: Helvetica;
	background: #eee;
}

/*BUTTONS*/
.button {
	margin-right: 10px;
	padding: 2px 4px;
	border-radius: 8px;
	float: left;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.inactive {
	border: 2px solid #eee;
	color: #ddd;
	background: #eee;
}
.inactive:hover {
	border: 2px solid #eee;
	color: #ddd;
	background: #eee;
	cursor: default;
}
.active {
	border: 2px solid #aaa;
	color: #fff;
	background: #aaa;
	cursor: pointer;
}
.active:hover {
	border: 2px solid #888;
	color: #fff;
	background: #888;
	cursor: pointer;
}
a.button {
	text-decoration: none;
}
a:hover.button {
	text-decoration: none;
}
.circles {
	width: 62px;
	text-align: center;
}

/*MODAL*/
.modal-header {
	height: 60px;
	color: #fff;
	background: #242424;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.modal-dialog {
	width: 637px;
}
.modal-body {
	margin: 0 auto;
	display: table;
	background-image: url('http://static.tumblr.com/hc6q6s4/qS6m2cjn7/stripe_17e52656a5e6249194369416c3357e76.png');
}
.modal-content {
	height: 753px;
	border-radius: 10px;
}
.img-title {
	float: left;
}
.download {
	float: right;
}
.close-modal {
	float: right !important;
	margin-right: 0px;
}