body {
	background-image: url('http://static.tumblr.com/hc6q6s4/qS6m2cjn7/stripe_17e52656a5e6249194369416c3357e76.png');
	color: #000;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
}

/*WRAPPERS*/
.content {
	margin-left: 0px;
	float: left;
	width: 41.7%;
}
.controls {
	margin-top: 37px;
	float: left;
	width: 29.14%;
}
.controls-left {
	text-align: right;
	padding-right: 10px;
}
.controls-right {
	text-align: left;
	padding-left: 10px;
}
.title {
	font-size: 26px;
	text-align: right;
}

/*BOXES*/
.box {
	border-radius: 0px;
	transition: border-radius .5s, background .1s, border-color .1s;
	-webkit-transition: border-radius .5s, background .1s, border-color .1s;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	position: relative;
}
.circle {
	transition: border-radius .5s, background .1s, border-color .1s;
	-webkit-transition: border-radius .5s, background .1s, border-color .1s;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	position: relative;
}
.move {
	width: 66.666666667%;
	height: 66.666666667%;
	cursor: pointer;
}
.slowmove {
	transition: border-radius .5s, background .1s, border-color .1s, top .25s, left .25s;
	-webkit-transition: border-radius .5s, background .1s, border-color .1s, top .25s, left .25s;
}
.top {
	width: 600px;
	height: 600px;
	box-shadow: none !important;
}
.two {
	left: 96px;
	top: 79px;
}
.three {
	left: 65px;
	top: 44px;
}
.four {
	left: 43px;
	top: 22px;
}
.five {
	left: 27px;
	top: 6px;
}
.six {
	left: 21px;
	top: -3px;
}
.circle-top {
	border-radius: 300px;
}
.circle-two {
	border-radius: 200px;
}
.circle-three {
	border-radius: 135px;
}
.circle-four {
	border-radius: 90px;
}
.circle-five {
	border-radius: 60px;
}
.circle-six {
	border-radius: 40px;
}
.violet {
	background: #800080;
}
.blue {
	background: #0000FF;
}
.green {
	background: #008000;
}
.yellow {
	background: #CCCC00;
}
.orange {
	background: #FFA500;
}
.red {
	background: #FF0000;
}

/*COLOR MENU*/
table {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	width: 100px;
}
.context-menu {
	padding: 2px;
	background: #FFF;
	border: 2px solid #FFF;
}
.context-menu-theme-default .context-menu-item {
	font-family: Helvetica;
	font-size: 14px;
}
.context-menu-theme-default .context-menu-item:hover {
	color: #FFF;
}
.color-menu-title {
	background: #AAA;
	color: #FFF;
	padding: 5px;
	text-align: center;
}
.color-menu-item {
	background: #FFF;
}
.color-menu-item-red {
	background: #FF0000;
}
.color-menu-item-orange {
	background: #FFA500;
}
.color-menu-item-yellow {
	background: #CCCC00;
}
.color-menu-item-green {
	background: #008000;
}
.color-menu-item-blue {
	background: #0000FF;
}
.color-menu-item-violet {
	background: #800080;
}
.color-menu-item-hover {
	font-family: Helvetica, sans-serif;
	background: #EEE;
}

/*BUTTONS*/
.button-left {
	margin-bottom: 10px;
	padding: 4px 4px;
	text-align: center;
	float: right;
	width: 68px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.button-right {
	margin-bottom: 10px;
	padding: 4px 4px;
	text-align: center;
	float: left;
	width: 68px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.button {
	margin-right: 10px;
	padding: 4px 4px;
	float: left;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.inactive {
	border: 2px solid #EEE;
	color: #DDD;
	background: #EEE;
}
.inactive:hover {
	border: 2px solid #EEE;
	color: #DDD;
	background: #EEE;
	cursor: default;
}
.active {
	border: 2px solid #AAA;
	color: #FFF;
	background: #AAA;
	cursor: pointer;
}
.active:hover {
	border: 2px solid #888;
	color: #FFF;
	background: #888;
	cursor: pointer;
}
a:link.button, a:link.button-left, a:link.button-right {
	text-decoration: none;
}
a:visited.button, a:visited.button-left, a:visited.button-right {
	text-decoration: none;
	color: #FFF;
}
a:hover.button, a:hover.button-left, a:hover.button-right {
	text-decoration: none;
}
a:active.button, a:active.button-left, a:active.button-right {
	text-decoration: none;
	color: #FFF;
}

/*MODAL*/
.modal-header {
	height: 60px;
	padding-top: 14px;
	background: #EEE;
	cursor: move;
}
.modal-dialog {
	width: 532px;
}
.modal-body {
	margin: 0 auto;
	display: table;
	background-image: url('http://static.tumblr.com/hc6q6s4/qS6m2cjn7/stripe_17e52656a5e6249194369416c3357e76.png');
}
.modal-content {
	height: 642px;
	border-radius: 0px;
}
.img-title {
	float: left;
}
.img-title input {
	font-weight: normal;
	border: 2px solid #FFF;
	height: 31px;
	width: 179px;
	padding: 2px 8px;
	color: #000;
	outline: 0;
}
.download {
	float: right;
}
.close-modal {
	float: right !important;
	margin-right: 0px;
}

/*GALLERY*/
#swipebox-container {
	background-image: url('http://static.tumblr.com/hc6q6s4/qS6m2cjn7/stripe_17e52656a5e6249194369416c3357e76.png');
}
.gallery-title {
	font-size: 26px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
}
.gallery-img {
	float: left;
	width: 100%;
}
.gallery-modal-header {
	float: left;
	font-size: 26px;
}

/*INFO*/
#info .modal-dialog {
	top: 40px;
}
#info .modal-content {
	height: 344px;
}
#info .modal-body {
	background-image: none;
}
#info ol {
	margin-left: -12px;
}
.info-left {
	width: 240px;
	margin-right: 20px;
	float: left;
	border-right: 1px solid #ccc;
	padding-right: 20px;
}
.info-right {
	width: 240px;
	float: left;
}
